In [15]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings(action='ignore')

data_path = '../data/'
sales_train = pd.read_csv(data_path + 'sales_train.csv')
shops = pd.read_csv(data_path+'shops.csv')
items = pd.read_csv(data_path+'items.csv')
item_categories = pd.read_csv(data_path+'item_categories.csv')
test = pd.read_csv(data_path + 'test.csv')
submission = pd.read_csv(data_path + 'sample_submission.csv')

In [16]:
sales_train = sales_train.rename(columns={'date': '날짜', 'date_block_num': '월ID',
                                          'shop_id': '상점ID', 'item_id': '상품ID',
                                          'item_price': '판매가', 'item_cnt_day': '판매량'})
sales_train.head()

           날짜  월ID  상점ID   상품ID      판매가  판매량
0  02.01.2013    0    59  22154   999.00  1.0
1  03.01.2013    0    25   2552   899.00  1.0
2  05.01.2013    0    25   2552   899.00 -1.0
3  06.01.2013    0    25   2554  1709.05  1.0
4  15.01.2013    0    25   2555  1099.00  1.0

In [17]:
shops = shops.rename(columns = {'shop_name': '상점명', 'shop_id': '상점ID'})
items = items.rename(columns={'item_name': '상품명', 'item_id':'상품ID', 'item_category_id': '상품분류ID'})
item_categories = item_categories.rename(columns={'item_category_name': '상품분류명','item_category_id':'상품분류ID'})
test = test.rename(columns={'shop_id':'상점ID', 'item_id': '상품ID'})
test.head()

   ID  상점ID  상품ID
0   0     5  5037
1   1     5  5320
2   2     5  5233
3   3     5  5232
4   4     5  5268

In [18]:
def downcast(df, verbose=True):
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        dtype_name = df[col].dtype.name
        if dtype_name == 'object':
            pass
        elif dtype_name == 'bool':
            df[col] = df[col].astype('int8')
        elif dtype_name.startswith('int') or (df[col].round() == df[col]).all():
            df[col] = pd.to_numeric(df[col], downcast ='integer')
        else:
            df[col] = pd.to_numeric(df[col],downcast='float')
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose:
        print(f'{100*(start_mem-end_mem)/start_mem:.1f}% 압축됨')

    return df

all_df = [sales_train, shops, items, item_categories, test]
for df in all_df:
    df = downcast(df)

62.5% 압축됨
38.6% 압축됨
54.2% 압축됨
39.9% 압축됨
70.8% 압축됨

In [19]:
from itertools import product

train = []

for i in sales_train['월ID'].unique():
    all_shop = sales_train.loc[sales_train['월ID']==i, '상점ID'].unique()
    all_item = sales_train.loc[sales_train['월ID']==i, '상품ID'].unique()
    train.append(np.array(list(product([i],all_shop,all_item))))

idx_features = ['월ID', '상점ID', '상품ID']

train = pd.DataFrame(np.vstack(train), columns = idx_features)
train

          월ID  상점ID   상품ID
0           0    59  22154
1           0    59   2552
2           0    59   2554
3           0    59   2555
4           0    59   2564
...       ...   ...    ...
10913845   33    21   7635
10913846   33    21   7638
10913847   33    21   7640
10913848   33    21   7632
10913849   33    21   7440

[10913850 rows x 3 columns]

In [21]:
group = sales_train.groupby(idx_features).agg({'판매량':'sum'})
group = group.reset_index()

group = group.rename(columns = {'판매량':'월간 판매량'})
group

         월ID  상점ID   상품ID  월간 판매량
0          0     0     32       6
1          0     0     33       3
2          0     0     35       1
3          0     0     43       1
4          0     0     51       2
...      ...   ...    ...     ...
1609119   33    59  22087       6
1609120   33    59  22088       2
1609121   33    59  22091       1
1609122   33    59  22100       1
1609123   33    59  22102       1

[1609124 rows x 4 columns]

In [22]:
train = train.merge(group, on=idx_features, how='left')
train

          월ID  상점ID   상품ID  월간 판매량
0           0    59  22154     1.0
1           0    59   2552     NaN
2           0    59   2554     NaN
3           0    59   2555     NaN
4           0    59   2564     NaN
...       ...   ...    ...     ...
10913845   33    21   7635     NaN
10913846   33    21   7638     NaN
10913847   33    21   7640     NaN
10913848   33    21   7632     NaN
10913849   33    21   7440     NaN

[10913850 rows x 4 columns]

In [23]:
test['월ID'] = 34

In [24]:
all_data = pd.concat([train, test.drop('ID',axis = 1)],
                     ignore_index = True, keys = idx_features)

In [25]:
all_data = all_data.fillna(0)
all_data

          월ID  상점ID   상품ID  월간 판매량
0           0    59  22154     1.0
1           0    59   2552     0.0
2           0    59   2554     0.0
3           0    59   2555     0.0
4           0    59   2564     0.0
...       ...   ...    ...     ...
11128045   34    45  18454     0.0
11128046   34    45  16188     0.0
11128047   34    45  15757     0.0
11128048   34    45  19648     0.0
11128049   34    45    969     0.0

[11128050 rows x 4 columns]